.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 375px;
    font-size: 20px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 424px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
