.cover {
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (min-width: 1440px) {
  .cover {
    max-width: 1344px;
    min-height: 840px;
  }
}

@media screen and (min-width: 1680px) {
  .cover {
    max-width: 1584px;
    min-height: 990px;
  }
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 540px;
    min-height: 338px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    max-width: 425px;
    min-height: 280px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    max-width: 375px;
    min-height: 234px;
  }
}

@media screen and (max-width: 374px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
